In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [0]:
def remove_spaces(str):
    sentence = re.sub("^\s+|\s+$", "", str, flags=re.UNICODE)
    return sentence

In [0]:
base_link = 'https://www.kreis-paderborn.de/'
req = requests.get(base_link)
soup = BeautifulSoup(req.content)
div = soup.find_all('div',class_="listEntryTitle")
a = div[0].find('a',href = True)
url = base_link + a['href']

In [4]:
base_link = url
req = requests.get(base_link)
soup = BeautifulSoup(req.content)
ul = soup.find_all('ul')[-2]
li = ul.find_all('li')

places = []

for i in li:
    no_comma_colon = i.text.replace(",","").replace(":","").replace("und","")
    no_space = no_comma_colon.strip()
    split = no_space.rsplit(" ",1)
    places.append(split)

print(places)

[['Altenbeken', '1'], ['Bad Lippspringe', '1'], ['Borchen', '2'], ['Büren', '4'], ['Delbrück', '22'], ['Bad Wünnenberg', '22'], ['Hövelhof', '11'], ['Lichtenau', '2'], ['Paderborn', '113'], ['Salzkotten', '13']]

In [5]:
df = pd.DataFrame(places)
df

                 0    1
0       Altenbeken    1
1  Bad Lippspringe    1
2          Borchen    2
3            Büren    4
4         Delbrück   22
5   Bad Wünnenberg   22
6         Hövelhof   11
7        Lichtenau    2
8        Paderborn  113
9       Salzkotten   13

In [0]:
lat = {'Altenbeken':51.76455,
       'Bad Lippspringe':51.777419,
       'Borchen':51.6512014,
       'Büren':51.5488709,
       'Delbrück':51.7738598,
       'Bad Wünnenberg':51.531326,
       'Hövelhof':51.835323,
       'Lichtenau':51.6148901,
       'Paderborn':51.7275231,
       'Salzkotten':51.6673279}

long = {'Altenbeken':8.924201,
       'Bad Lippspringe':8.8441963,
       'Borchen':8.694057,
       'Büren':8.453094,
       'Delbrück':8.4017685,
       'Bad Wünnenberg':8.5956437,
       'Hövelhof':8.5981495,
       'Lichtenau':8.7375106,
       'Paderborn':8.6283488,
       'Salzkotten':8.526839}

In [7]:
df["Latitude"] = df[0].map(lat)
df["Longitude"] = df[0].map(long)
df.columns = ["Name","Count","Latitude","Longitude"]
df.to_csv("pb.csv", encoding='utf8')
df

              Name Count   Latitude  Longitude
0       Altenbeken     1  51.764550   8.924201
1  Bad Lippspringe     1  51.777419   8.844196
2          Borchen     2  51.651201   8.694057
3            Büren     4  51.548871   8.453094
4         Delbrück    22  51.773860   8.401768
5   Bad Wünnenberg    22  51.531326   8.595644
6         Hövelhof    11  51.835323   8.598149
7        Lichtenau     2  51.614890   8.737511
8        Paderborn   113  51.727523   8.628349
9       Salzkotten    13  51.667328   8.526839

In [0]:
from google.colab import files
files.download('pb.csv')